{% extends "EstoqueBundle::layout.html.twig" %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue-soft">
                    <div class="visual">
                        <i class="fa fa-tags"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            549
                        </div>
                        <div class="desc">
                            Produtos Ativos
                        </div>
                    </div>
                    <a class="more" href="javascript:;">
                        Ver mais <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat red-haze">
                    <div class="visual">
                        <i class="fa fa-tag"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            549
                        </div>
                        <div class="desc">
                            Produtos em falta
                        </div>
                    </div>
                    <a class="more" href="javascript:;">
                        Ver mais <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat green-jungle">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            549
                        </div>
                        <div class="desc">
                            Entregas efetuadas no mês
                        </div>
                    </div>
                    <a class="more" href="javascript:;">
                        Ver mais <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject uppercase">
                        <i class="fa fa-fw fa-random"></i> acesso rápido
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <a href="{{ path( "_products" ) }}">
                            <div class="dashboard-stat blue-soft">
                                <div class="visual">
                                    <i class="fa fa-tags"></i>
                                </div>
                                <div class="details">
                                    <div class="small-text">
                                        acesso rápido para
                                    </div>
                                    <div class="big-text">
                                        produtos
                                    </div>
                                </div>
                                <a class="more" href="javascript:;"></a>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ path( "_delivery" ) }}">
                            <div class="dashboard-stat green-jungle">
                                <div class="visual">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="details">
                                    <div class="small-text">
                                        acesso rápido para
                                    </div>
                                    <div class="big-text">
                                        entregas
                                    </div>
                                </div>
                                <a class="more" href="javascript:;"></a>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="">
                            <div class="dashboard-stat purple-plum">
                                <div class="visual">
                                    <i class="fa fa-key"></i>
                                </div>
                                <div class="details">
                                    <div class="small-text">
                                        acesso rápido para
                                    </div>
                                    <div class="big-text">
                                        fornecedores
                                    </div>
                                </div>
                                <a class="more" href="javascript:;"></a>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="">
                            <div class="dashboard-stat yellow-saffron">
                                <div class="visual">
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="details">
                                    <div class="small-text">
                                        acesso rápido para
                                    </div>
                                    <div class="big-text">
                                        pedidos
                                    </div>
                                </div>
                                <a class="more" href="javascript:;"></a>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject uppercase">Gráfico de vendas</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_2" class="chart" style="height: 400px;"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
        'assets/global/plugins/amcharts/amcharts/amcharts.js'
        'assets/global/plugins/amcharts/amcharts/serial.js'
        'assets/global/plugins/amcharts/amcharts/pie.js'
        'assets/global/plugins/amcharts/amcharts/radar.js'
        'assets/global/plugins/amcharts/amcharts/themes/light.js'
        'assets/global/plugins/amcharts/amcharts/themes/patterns.js'
        'assets/global/plugins/amcharts/amcharts/themes/chalk.js'
        'assets/global/plugins/amcharts/ammap/ammap.js'
        'assets/global/plugins/amcharts/ammap/maps/js/worldLow.js'
        'assets/global/plugins/amcharts/amstockcharts/amstock.js'
        'assets/admin/pages/scripts/charts-amcharts.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        ChartsAmcharts.init();
    </script>
{% endblock %}