{% extends "EstoqueBundle::layout.html.twig" %}

{% block title %}Pedidos -{% endblock %}
{% block page_title %}Pedidos{% endblock %}

{% block content %}

    {% include "EstoqueBundle::search.html.twig" %}

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject uppercase">
                        listagem dos pedidos
                    </span>
                </div>

                <a href="{{ path( "_requests_new" ) }}" class="btn green-haze pull-right">
                    <i class="fa fa-fw fa-plus-circle"></i> Adicionar novo pedido
                </a>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center" width="1%">#</th>
                        <th>Produtos</th>
                        <th>Para</th>
                        <th class="text-center">Valor final</th>
                        <th class="text-center">Status</th>
                        <th class="text-center" width="9%"><!-- --></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item">#1 - Sabão em pó</li>
                                    <li class="list-group-item">#1 - Sabão em pó</li>
                                    <li class="list-group-item">#1 - Sabão em pó</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item">Felipe Pieretti Umpierre<br />Rua Primeiro<br />1000, 124<br />Bairro<br />Porto Alegre</li>
                                </ul>
                            </td>
                            <td class="text-center">R$ 10,00</td>
                            <td class="text-center">
                                <span class="font-purple-studio">Separando produtos</span>
                            </td>
                            <td class="text-center">
                                <a href="javascript:;" class="btn btn-xs blue-madison">
                                    <i class="fa fa-fw fa-pencil"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-xs red-intense pull-right">
                                    <i class="fa fa-fw fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item">#1 - Sabão em pó</li>
                                    <li class="list-group-item">#1 - Sabão em pó</li>
                                    <li class="list-group-item">#1 - Sabão em pó</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item">Felipe Pieretti Umpierre<br />Rua Primeiro<br />1000, 124<br />Bairro<br />Porto Alegre</li>
                                </ul>
                            </td>
                            <td class="text-center">R$ 45,00</td>
                            <td class="text-center">
                                <span class="font-green-haze">Entregue</span>
                            </td>
                            <td class="text-center">
                                <a href="javascript:;" class="btn btn-xs purple-intense">
                                    <i class="fa fa-fw fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}