{% extends "EstoqueBundle::layout.html.twig" %}

{% block title %}Pedidos | Novo -{% endblock %}
{% block page_title %}Novo pedido{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dados do cliente</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control">
                                            <option>Escolha um status</option>
                                            <option>Separando produtos</option>
                                            <option>Encaminhando para caminhão</option>
                                            <option>Em movimento</option>
                                            <option>Entregue</option>
                                            <option>Cliente ausente</option>
                                            <option>Cancelado</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Hora para a entrega</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Produtos</label>
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <button type="submit" class="btn green-jungle"><i class="fa fa-fw fa-check-circle-o"></i> Finalizar</button>

                    <a href="{{ path( "_requests" ) }}" class="btn btn-link pull-right">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}