.dashboard-ul {
    float: left;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.dashboard-ul li {
    width: 30%;
    border: 1px solid #F5F5F5;
    height: 25%;
    padding: 25px 10px 0 10px;
    float: left;
    margin: 0 15px;
}

.dashboard-ul li a {

}

.dashboard-ul li a span {
    float: left;
    display: block;
    width: 100%;
}

.dashboard-ul li a span i {
    font-size: 76px;
    padding: 20px 0;
}

.dashboard-ul li a small {
    font-size: 18px;
    width: 100%;
    display: inline-block;
    margin: 40px 0 10px 10px;
}


.small-text {
    font-size: 10px;
    text-transform: uppercase;
    color: #FFF;
    padding-top: 30px;
    text-align: right;
}

.big-text {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    text-align: right;
}