{% extends "EstoqueBundle::layout.html.twig" %}

{% block title %}Entregas -{% endblock %}
{% block page_title %}Entregas{% endblock %}

{% block content %}

    {% include "EstoqueBundle::search.html.twig" %}

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject uppercase">
                        listagem de produtos entregues
                    </span>
                </div>

                <a href="{{ path( "_delivery_new" ) }}" class="btn green-haze pull-right">
                    <i class="fa fa-fw fa-plus-circle"></i> Adicionar novo produto entregue
                </a>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" width="1%">#</th>
                            <th>Produto</th>
                            <th class="text-center" width="9%"><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Sabão em pó</td>
                            <td class="text-center">
                                <a href="javascript:;" class="btn btn-xs blue-madison">
                                    <i class="fa fa-fw fa-pencil"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-xs red-intense pull-right">
                                    <i class="fa fa-fw fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}