{% extends "EstoqueBundle::layout.html.twig" %}

{% block title %}Fornecedores | Novo -{% endblock %}
{% block page_title %}Novo fornecedor{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Razão social</label>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Nome fantasia</label>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>CNPJ</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <hr />

                    <button type="submit" class="btn green-jungle"><i class="fa fa-fw fa-check-circle-o"></i> Finalizar cadastro</button>

                    <a href="{{ path( "_suppliers" ) }}" class="btn btn-link pull-right">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}