{% extends "EstoqueBundle::layout.html.twig" %}

{% block title %}Financeiro -{% endblock %}
{% block page_title %}Financeiro{% endblock %}

{% block content %}

    {% include "EstoqueBundle::search.html.twig" %}

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject uppercase">
                        listagem de solicitações
                    </span>
                </div>

                <a href="{{ path( "_financial_new" ) }}" class="btn green-haze pull-right">
                    <i class="fa fa-fw fa-plus-circle"></i> Adicionar nova solicitação
                </a>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center" width="1%">#</th>
                        <th>Motivo</th>
                        <th>Valor Total</th>
                        <th class="text-center">Status</th>
                        <th class="text-center" width="9%"><!-- --></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Compra de 100 produtos para o estoque</td>
                            <td>R$ 4.589,38</td>
                            <td class="text-center">
                                <span class="font-blue-madison">Pendente</span>
                            </td>
                            <td class="text-center">
                                <a href="javascript:;" class="btn btn-xs green-haze">
                                    <i class="fa fa-fw fa-check"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-xs red-intense pull-right">
                                    <i class="fa fa-fw fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>Compra de 100 produtos para o estoque</td>
                            <td>R$ 4.589,38</td>
                            <td class="text-center">
                                <span class="font-green-sharp">Concluído</span>
                            </td>
                            <td class="text-center">
                                <!-- -->
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>Compra de 100 produtos para o estoque</td>
                            <td>R$ 4.589,38</td>
                            <td class="text-center">
                                <span class="font-red-haze">Cancelado</span>
                            </td>
                            <td class="text-center">
                                <!-- -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}