{% extends "EstoqueBundle::layout.html.twig" %}

{% block title %}Financeiro | Nova solicitação -{% endblock %}
{% block page_title %}Nova solicitação{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Data</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Motivo</label>
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <button type="submit" class="btn green-jungle"><i class="fa fa-fw fa-check-circle-o"></i> Finalizar</button>

                    <a href="{{ path( "_financial" ) }}" class="btn btn-link pull-right">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}