<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %} Painel Administrativo</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ asset( "assets/global/plugins/font-awesome/css/font-awesome.min.css" ) }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset( "assets/global/plugins/uniform/css/uniform.default.css" ) }}" rel="stylesheet" type="text/css" />

        {% block stylesheets %}
            {% stylesheets
                'assets/global/plugins/bootstrap/css/bootstrap.min.css'
                'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
                'assets/global/css/components.css'
                'assets/global/css/plugins.css'
                'assets/admin/layout4/css/layout.css'
                'assets/admin/layout4/css/themes/light.css'
                '@EstoqueBundle/Resources/public/css/main.css'
                %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="shortcut icon" href="favicon.ico" />
    </head>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">

        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner container">
                <div class="page-logo">
                    <a href="index.html">
                        <img src="{{ asset( "assets/admin/layout4/img/logo-light.png" ) }}" alt="logo" class="logo-default"/>
                    </a>
                </div>

                <div class="page-top">
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <a href="" class="font-grey-gallery">
                                    Deslogar <i class="fa fa-fw fa-sign-out"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="container">
            <div class="page-container">

                {% include "EstoqueBundle::menu.html.twig" %}

                <div class="page-content-wrapper">
                    <div class="page-content">
                        <div class="page-head">
                            <div class="page-title">
                                <h1>{% block page_title %}Dashboard{% endblock %}</h1>
                            </div>
                        </div>

                        <div class="row margin-top-10">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer container">
            <div class="page-footer">
                <div class="page-footer-inner">
                    {% block footer %}{{ "now"|date('Y') }} Todos os direitos reservados.{% endblock %}
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
        </div>

        <!--[if lt IE 9]>
        {% javascripts
            'assets/global/plugins/respond.min.js'
            'assets/global/plugins/excanvas.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->

        <script>var DEFAULT = "{{ app.request.getBaseURL() }}/";</script>
        {% block javascript %}
            {% javascripts
                'assets/global/plugins/jquery.min.js'
                'assets/global/plugins/jquery-migrate.min.js'
                'assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
                'assets/global/plugins/bootstrap/js/bootstrap.min.js'
                'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'
                'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
                'assets/global/plugins/jquery.blockui.min.js'
                'assets/global/plugins/jquery.cokie.min.js'
                'assets/global/plugins/uniform/jquery.uniform.min.js'
                'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
                'assets/global/scripts/metronic.js'
                'assets/admin/layout4/scripts/layout.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <script>
            jQuery( document ).ready( function () {
                Metronic.init();
                Layout.init();
            } );
        </script>
    </body>
</html>