<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="{{ app.request.get( "_route" ) matches( "/_dashboard/" ) ? "active" }}">
                <a href="{{ path( "_dashboard" ) }}">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="{{ app.request.get( "_route" ) matches( "/_products/" ) ? "active" }}">
                <a href="{{ path( "_products" ) }}">
                    <i class="fa fa-fw fa-tags"></i>
                    <span class="title">Produtos</span>
                </a>
            </li>
            <li class="{{ app.request.get( "_route" ) matches( "/_delivery/" ) ? "active" }}">
                <a href="{{ path( "_delivery" ) }}">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                    <span class="title">Entregas</span>
                </a>
            </li>
            <li class="{{ app.request.get( "_route" ) matches( "/_suppliers/" ) ? "active" }}">
                <a href="{{ path( "_suppliers" ) }}">
                    <i class="fa fa-fw fa-key"></i>
                    <span class="title">Fornecedores</span>
                </a>
            </li>
            <li class="{{ app.request.get( "_route" ) matches( "/_requests/" ) ? "active" }}">
                <a href="{{ path( "_requests" ) }}">
                    <i class="fa fa-fw fa-gift"></i>
                    <span class="title">Pedidos</span>
                </a>
            </li>
            <li class="{{ app.request.get( "_route" ) matches( "/_financial/" ) ? "active" }}">
                <a href="{{ path( "_financial" ) }}">
                    <i class="fa fa-fw fa-money"></i>
                    <span class="title">Financeiro</span>
                </a>
            </li>
            <li class="{{ app.request.get( "_route" ) matches( "/_reports/" ) ? "active" }}">
                <a href="javascript:;">
                    <i class="fa fa-fw fa-file-o"></i>
                    <span class="title">Relatórios</span>
                    <span class="arrow"></span>
                </a>

                <ul class="sub-menu">
                    <li>
                        <a href="">
                            Vendas
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Produtos
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Gastos
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>