<div class="col-md-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject uppercase">Pesquisar</span>
            </div>
        </div>
        <div class="portlet-body">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nome do produto</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Outra busca</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Outra busca</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Outra busca</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <hr />

                <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-search"></i> Pesquisar</button>
            </form>
        </div>
    </div>
</div>