{% extends "EstoqueBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Produtos | Novo -{% endblock %}
{% block page_title %}Novo produto{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject uppercase">Insira as informações abaixo para adicionar o novo produto</span>
                </div>
            </div>
            <div class="portlet-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Fornecedor</label>
                                <select class="form-control">
                                    <option>Escolha um fornecedor</option>
                                    <option>Fornecedor #1</option>
                                    <option>Fornecedor #2</option>
                                    <option>Fornecedor #3</option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control">
                                            <option>Escolha uma categoria</option>
                                            <option>Limpeza</option>
                                            <option>Educação</option>
                                            <option>Informática</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ano</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Informações adicionais</label>
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Imagem</label>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group">
                                        <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn default btn-file">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="">
                                        </span>
                                        <a href="#" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <button type="submit" class="btn green-jungle"><i class="fa fa-fw fa-check-circle-o"></i> Finalizar cadastro</button>

                    <a href="{{ path( "_products" ) }}" class="btn btn-link pull-right">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
        'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}